@{
Layout = "_Layout";
}
<div class="container-fluid">
  <h2 class="display-4">Band Details</h2>
  <hr>
  @if(Model["bandVenues"].Count != 0)
  {
    <h5 class="text-truncate d-inline-block w-50"><strong>@Model["selectedBand"].GetBandName()</strong></h5>
    <hr class="w-25">
    <a class="sticky-top btn btn-secondary"href="/venues/new">Add another venue</a>
    <hr class="w-25">
    <a class="btn btn-secondary" href="/bands/@Model["selectedBand"].GetId()/update">Update Band</a>
    <hr class="w-25">
    <a class="btn btn-secondary" href="/bands/@Model["selectedBand"]/delete">Delete Band</a>
    <hr class="w-25">
    @foreach (var venue in Model["bandVenues"])
    {
        <table class="text-center table">
          <thead class="thead-light">
            <tr>
              <th scope="col"><strong>Venue ID</strong></th>
              <th scope="col">Name</th>
              <th scope="col"><strong>Address</strong></th>
              <th scope="col"><strong>Actions<strong></th>

            </tr>
          </thead>
          <tbody class="">
            <tr>
              <th class="w-25" scope="row">
                #@venue.GetId()
              </th>
              <td class="w-25">@venue.GetName()</td>
              <td class="w-25">@venue.GetAddress()</td>
              <td>
                <a class="btn btn-secondary" href="/venues/@venue.GetId()">Venue Details</a>
                <hr class="w-25">
                <a class="btn btn-secondary" href="/venues/@venue.GetId()/update">Update Venue</a>
              </td>
          </tbody>
        </table>
    }
  }
  else
  {
    <h5>No venues have added this band.</h5>
  }
</div>
