@{
Layout = "_Layout";
}
<div class="container-fluid">
  <h2 class="display-4">Add a band</h2>
  <form class="col-md-6" action="/bands" method="post">
    <
    <div class="form-group">
      <label for="band_name">Enter Artist:</label>
      <input name="band_name" type="text" class="form-control" id="bandTitle" placeholder="Moby">
    </div>

    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>
