@{
Layout = "_Layout";
}

  <h2>Available bands</h2>

      @if(Model["allBands"].Count != 0)
      {
        <div class="col-md-2">
          <h5><a class="btn btn-secondary" href="/bands/new">Add a new band</a></h5>
          <hr>
          <h5><a class="btn btn-secondary" href="/venues/new">Enter a new venue</a></h5>
          <hr>

        </div>
        <ul class="list-group">
          @foreach(var band in Model["allBands"])
          {
            <li><a href="/bands/@band.GetId()">@band.GetBandName()</a></li>
          }
        </ul>
      }
        else
      {
        <h5>You haven't entered any bands.</h5>
        <h5><a class="btn btn-secondary" href="/bands/new">Enter a new band</a></h5>
        <h5><a class="btn btn-secondary" href="/">Return home</a></h5>
      }
