@{
Layout = "_Layout";
}

  <h2>Available bands</h2>

      @if(Model["allBands"].Count != 0)
      {
          <h5><a class="btn btn-secondary" href="/bands/new">Add a new band</a></h5>
          <h5><a class="btn btn-secondary" href="/venue/">Send band to venue</a></h5>
          <h5><a class="btn btn-secondary" href="/venues/deleteall">Delete all bands</a></h5>
        <ul>
          @foreach(var band in Model["allBands"])
          {
            <li><a href="/bands/@band.GetId()">@band.GetBandName()</a></li>
          }
        </ul>
      }
        else
      {
        <h5>You haven't entered any bands.</h5>
        <h5><a class="btn btn-secondary" href="/bands/new">Enter a new band</a></h5>
        <h5><a class="btn btn-secondary" href="/">Return home</a></h5>
      }
